@{
    ViewBag.Title = "Home Page";
}

    <body>
        <div class="container">
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-6" align="center">
                    <iframe src="https://giphy.com/embed/DDRTOpGRZcSqc" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen>
                    </iframe>
                </div>
                <div class="col-md-6" align="center">
                    <iframe src="https://giphy.com/embed/87aJWKkc5CiwNVorgN" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen>

                    </iframe>
                </div>
            </div>
        </div>
    </body>